.heading{
  text-align: center;
  font-size: 40px;
}

body{
  background-color: #c4c0c2;
}

#myInput{
  height: 24px;
  width: 300px;
  text-align: center;
}

#addBtn{
  height: 30px;
  width: 300px;
  background-color: #bbb;
}
#clear{
  height: 30px;
  width: 300px;
  background-color: #bbb;
}

#inputs{
  text-align: center;
  background-color: #c41d6e;
  height: 100px;
}

#display{
  font-size: 15px;
margin:2 auto;
width: 300px;
background: #ddd;
}

li{
  font-size: 20px;
  margin:2 auto;
  width:300px;
  height: 50px;

}
